* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: #2b523f;
}

/* Start: Create section */

.create-section {
    display: flex;
    max-width: auto;
    margin: auto;
    padding: 20px 20px;
    border-bottom: 2px solid red;
}


.create-form h1 {
    text-align: center;
}

.create-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20em;
    /* To see the size of it */
    border: 2px solid red;

}

.create-title {
    font-size: 2em;
    text-align: center;
}

.create-input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    padding: 10px 25px;
    height: 3em;
    margin-right: 16px;
    font-size: 1.4em;
    border-bottom: 2px solid black;
}

.create-description {
    border: none;
    outline: none;
    background: none;
    padding: 10px 25px;
    width: 80%;
    margin-top: 1em;    
    font-size: 1em;
    resize: none;
}

.create-button {
    height: 3em;
    width: 3em;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.create-button img {
    width: 3em;
    height: 3em;
}

/* Slut: Create section */

/* Start: Created cards*/



/* Slut: Created cards */
