* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    height: auto;
    background: linear-gradient(135deg, #C4DFDF, #347254 240%);
    background-repeat: no-repeat;
}

/* Start: Create section */

.create-section {
    display: flex;
    margin: auto;
    padding: 20px 20px;
    border-bottom: 2px solid rgb(48, 48, 48);
}

.page-title {
    background-image: linear-gradient(to right, #C4DFDF, #c0c0c0, #347254 240%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: center;
    font-size: 3em;
}

.create-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 4em;
    border-radius: 20px;
    background: #F8F6F4;
    padding: 0px 0px 4px 0px;
}

.create-title {
    font-size: 2em;
    text-align: center;
}

.create-input {
    border: none;
    outline: none;
    background: none;
    color: silver;
    width: 80%;
    align-self: center;
    padding: 10px 25px;
    height: 3em;
    margin-right: 16px;
    font-size: 1.4em;
    border-bottom: 2px solid #cbdfdf;
}

.create-description {
    border: none;
    outline: none;
    background: none;
    align-self: center;
    color: silver;
    padding: 10px 25px;
    width: 80%;
    margin-top: 1em;    
    font-size: 1em;
    resize: none;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.create-button {
    height: 3em;
    width: 3em;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.create-button img {
    width: 3em;
    height: 3em;
}

/* Slut: Create section */

/* Start: list-wrapper */

.list-wrapper {
    background: linear-gradient(135deg, #C4DFDF, #347254 240%);
    display: flex;
    flex-direction: column;
}

.task-list {
    display: flex;
    justify-content: center;
}

/* Slut: list-wrapper */

/* Start: Created cards*/

.task-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em;
}

.created-card {
    height: 14em;
    width: 12em;
    padding: 0.5em 1em 14px 0.5em;
    background-color: #F8F6F4;
    border-radius: 5px;
}

.done {
    background-color: rgb(19, 105, 16, 0.9);
    background-blend-mode: multiply;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.id-nr {
    font-size: 0.9em;
    color: silver;
}

.created-input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    height: 2em;
    font-size: 1.4em;
    flex: 1;
    border-bottom: 2px solid silver;
    color: rgb(134, 133, 133);
}

.created-description {
    border: none;
    outline: none;
    background: none;
    resize: none;
    width: 100%;
    height: 6em;
    font-size: 1em;
    margin-top: 0.5em;
    color: rgb(151, 151, 151);
}

.time-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1em;
}

.time-stamp, .time-stamp-date {
    font-size: 0.8em;
}

.action-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.2em;
}

.done-btn, .edit-btn, .delete-btn {
    width: 2em;
    height: 2em;
    cursor: pointer;
    background: none;
    border: none;
}

.done-btn img, .edit-btn img, .delete-btn img {
    width: 2em;
    height: 2em;
}

.done-btn:hover {
    filter: invert(56%) sepia(60%) saturate(5552%) hue-rotate(138deg) brightness(93%) contrast(101%);
    scale: 1.2;
    transition: 0.5s ease;
}

.edit-btn:hover {
    filter: invert(69%) sepia(51%) saturate(552%) hue-rotate(20deg) brightness(91%) contrast(88%);
    scale: 1.2;
    transition: 0.5s ease;
}

.delete-btn img:hover {
    filter: invert(14%) sepia(99%) saturate(3862%) hue-rotate(339deg) brightness(92%) contrast(96%);
    scale: 1.2;
    transition: 0.5s ease;
}

.completion-timestamp {
    display: flex;
    justify-content: center;
    margin-top: 0.3em;
    font-size: 0.8em;
}

/* Slut: Created cards */